.header{
  background: $header-bg;
  color: $header-color;
}
.header__content {
  display: flex;
  justify-content: space-between;
  max-width: $site-max-width;
  margin: 0 auto;
  height: $header-height;
  padding: $space;
}
.header__title{
  margin: 0;
}
.notes-header__content {
  display: flex;
  align-content: center;
  max-width: 80%;
  margin: 0 auto;
  height: $header-height;
  padding: $space;
}
